<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
		<context:component-scan base-package="com.wheroj.e3.controller" />
		
		<context:property-placeholder location="classpath:config.properties"/>
		<!-- 配置资源映射 -->
		<mvc:resources location="/css/" mapping="/css/**" />
		<mvc:resources location="/js/" mapping="/js/**" />
		
		<mvc:annotation-driven />
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/jsp/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>
		
		<dubbo:application name="e3-manager-web" />
		<dubbo:registry protocol="zookeeper" address="192.168.25.190:2181"/>
		<!-- <dubbo:annotation package="com.wheroj.e3.service"/> -->
		<dubbo:reference interface="com.wheroj.e3.service.TbItemCatService" id="tbItemCatService"/>
		<dubbo:reference interface="com.wheroj.e3.service.TbItemService" id="tbItemService"/>
		<dubbo:reference interface="com.wheroj.e3.service.TbItemParamItemService" id="tbItemParamItemService"/>
		<dubbo:reference interface="com.wheroj.content.service.TbContentCategoryService" id="categoryService"/>
		<dubbo:reference interface="com.wheroj.content.service.TbContentService" id="tbContentService"/>
		<dubbo:reference interface="com.wheroj.e3.search.service.SearchService" id="searchService"/>
		
		<!-- 定义文件上传解析器 -->
		<bean id="multipartResolver"
			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 设定默认编码 -->
			<property name="defaultEncoding" value="UTF-8"></property>
			<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
			<property name="maxUploadSize" value="5242880"></property>
		</bean>
</beans>