<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
		<context:component-scan base-package="com.wheroj.e3.service"></context:component-scan>
		
		<!-- dubbo 相关 -->
		<dubbo:application name="e3-manager" />
		<dubbo:protocol name="dubbo" port="20880" />
		<dubbo:registry address="192.168.25.190:2181" protocol="zookeeper" />
		
		<!-- <dubbo:annotation package="com.wheroj.e3.service.impl"/> -->
		<dubbo:service interface="com.wheroj.e3.service.TbItemService" ref="tbItemServiceImpl" timeout="180000"/>
		<dubbo:service interface="com.wheroj.e3.service.TbItemCatService" ref="tbItemCatServiceImpl" timeout="180000"/>
		<dubbo:service interface="com.wheroj.e3.service.TbItemParamItemService" ref="tbItemParamItemServiceImpl" timeout="180000"/>
</beans>